

*{
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    /* font-family: "Cascadia Code",sans-serif; */
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

textarea{
    margin: 2px;
}

h2{
    margin: 0.5em 0;
}
h3{
    margin: 0.5em 0;
}

/* 汎用品 */

.optionBox{
  display: inline-block;
  border: 1px solid #333;
  /* border-radius: 5px; */
  padding: 1px 5px;
  /* box-shadow: 0 0 5px #AAA; */
  transition: 0.3s;
  margin: 2px;
}

.optionSet{
  margin: 5px;
  border: 1px dotted #000;
}

label.optionBox{
  user-select: none;
}

.optionBox:hover{
  /* background-color: #EEE; */
}
label , input[type="file"]{
  cursor: pointer;
}
label:hover{
  background-color: #EEE;
}

/* Header */
#header{
  height: 40px;
  background-color: #333;
  color: #FFF;
  line-height: 36px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}
#headerTitle{
  padding: 2px 10px;
  font-size: 32px;
}

#profileMenu{
  display: flex;
  padding: 5px;
}

#profileMenuTitle{
  line-height: 30px;
  height: 100%;
  font-weight: bold;
}

.profileMenuComment{
  border-left: 1px solid #FFF;
  margin-left: 5px;
  padding: 0 5px;
  line-height: 30px;
  height: 100%;
}

/* Content */
#contentTitleBox{
  margin: 20px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
#contentTitle{
  margin: 0;
}
#contentDescription{
  font-size: 0.3em;
  margin: 0;
}


/* step */

#stepBox{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1800px){
  #stepBox{
    flex-direction: column;
  }
}

.step{
  margin: 10px;
  background-color: #DDF;
  padding: 10px;
  border-radius: 10px;
  flex-basis: 32%;
  flex-shrink: 2;
  max-width: 32%;
}

@media screen and (max-width: 1800px){
  .step{
    max-width: 100%;
  }
}

.step>h2{
  text-align: center;
  height: 54px;
  line-height: 54px;
  font-size: 32px;
  margin: 0;
  border-bottom: 1px solid #000;
}

.step>h2>.stepSubTitle{
  font-size: 0.5em;
}

.step>div{
  margin-left: 10px;
  /* padding: 10px; */
}

.step#step1{
  background-color: #DDF;
}
.step#step2{
  background-color: #DFD;
}
.step#step3{
  background-color: #FDD;
}

#inputPreviewBox{
  font-size: 0.8em;
  margin: 0 10px;
  padding: 5px;
  border: 1px dashed #666;
}

#inputPreviewTable{
  border-collapse: collapse;
}
#inputPreviewTable th, #inputPreviewTable td{
  border: 1px solid #555;
  padding: 2px 5px;
}
#inputPreviewTable th{
  font-weight: bold;
  background-color: #CCC;
}

#outputPreviewBox{
  font-size: 0.8em;
  margin: 0 10px;
  padding: 5px;
  border: 1px dashed #666;
}

#outputPreviewTable{
  border-collapse: collapse;
}
#outputPreviewTable th, #outputPreviewTable td{
  border: 1px solid #555;
  padding: 2px 5px;
}
#outputPreviewTable th{
  font-weight: bold;
  background-color: #CCC;
}

#inputOptionTable{
  margin: 5px;
  border-collapse: collapse;
  border: 1px solid #555;
}
#inputOptionTable th, #inputOptionTable td{
  text-align-last: left;
  border: 1px solid #555;
  padding: 2px 5px;
}

#outputOptionTable{
  margin: 5px;
  border-collapse: collapse;
  border: 1px solid #555;
}
#outputOptionTable th, #outputOptionTable td{
  text-align-last: left;
  border: 1px solid #555;
  padding: 2px 5px;
}



#outputButtonBox{
  text-align: center;
  width: 100%;
  max-width: 800px;
}

#outputButton{
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  font-size: 2em;
  border: 2px solid #555;
  border-radius: 5px;
  background-color: #CCC;
  cursor: pointer;
  transition: 0.3s;
}
#outputButton:hover{
  background-color: #FEE;
}

#outputStatusTextBox{
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #FFF;
  text-align: left;
}
#outputStatusText>p{
  line-height: 1em;
  margin: 1px 0;
}



